

footer{
	overflow: hidden;
	width:800px;
	margin:auto;
	text-align:center;
	white-space:normal;
	
	font-family:"arial";
	font-weight:100;
	font-size:12px;
	color:#4f4f4f;
}

.window-column{
	min-width:780px;
	max-width:780px;
	margin: auto;
}

.window-row{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:stretch;
	max-width:780px;
}

.window{
	position:static;
	border: 2px solid #8429ff;
	background-color:#212121;
	padding:25px;
	box-sizing:border-box;
	margin: auto;
	min-width:780px;
	max-width:780px;
	border-radius:10px;
}

.table-align-left{
	width: 100%;
	text-align: left;
}

/*.float-left{float:left;margin-right:16px}.float-right{float:right;margin-left:16px}*/

html {
	max-width: 800px;
	overflow: auto;
	scroll-behavior:smooth;
	/*min-height: 2000px;*/
	margin: auto;	
}

body {
	margin: auto;
	width:800px;
}

footer
{
	z-index:-1;
    position:local;
    bottom:0;
}